*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: aliceblue;
}
#main{
    display: grid;
    align-items: center;
    justify-content: center;
    background: url(./assests/R.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.section1{
    display: flex;
}